# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/
flutter_*.png

# Android
android/.gradle/
android/app/build/
android/local.properties
*.iml
.gradle
.idea/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/build/

# macOS
macos/Flutter/ephemeral/
macos/build/

# VS Code
.vscode/

# IntelliJ
*.iml
.idea/

# Misc
*.log
*.lock
